data/*
gcta_output/*
gcta_output_1000/*
king_analysis/*
plink_files/*
vcf_files/*
.venv./data/ALL_1000G_phase1integrated_v3_chr10_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr11_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr12_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr13_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr14_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr16_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr1_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr2_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr3_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr4_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr5_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr6_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr7_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr8_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr9_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chrX_nonPAR_impute.hap.gz
king_analysis/king.bed
king_analysis/king.bim
plink_files/chr10_cm.bed
plink_files/chr11_cm.bed
plink_files/chr12_cm.bed
plink_files/chr13_cm.bed
plink_files/chr14_cm.bed
plink_files/chr15_cm.bed
plink_files/chr16_cm.bed
plink_files/chr1_cm.bed
plink_files/chr1_cm.bim
plink_files/chr2_cm.bed
plink_files/chr2_cm.bim
plink_files/chr3_cm.bed
plink_files/chr3_cm.bim
plink_files/chr4_cm.bed
plink_files/chr4_cm.bim
plink_files/chr5_cm.bed
plink_files/chr6_cm.bed
plink_files/chr7_cm.bed
plink_files/chr8_cm.bed
plink_files/chr9_cm.bed
plink_files_CEU/chr1_cm.bim
plink_files_CEU/chr2_cm.bim
plink_files_CEU/chr3_cm.bim
plink_files_CEU/chr4_cm.bim
plink_files_FIN/chr1_cm.bim
plink_files_FIN/chr2_cm.bim
plink_files_FIN/chr3_cm.bim
plink_files_FIN/chr4_cm.bim
plink_files_GBR/chr1_cm.bim
plink_files_GBR/chr2_cm.bim
plink_files_GBR/chr3_cm.bim
plink_files_GBR/chr4_cm.bim
plink_files_TSI/chr1_cm.bim
plink_files_TSI/chr2_cm.bim
plink_files_TSI/chr3_cm.bim
plink_files_TSI/chr4_cm.bim
vcf_files/chr1.vcf.gz
vcf_files/chr10.vcf.gz
vcf_files/chr11.vcf.gz
vcf_files/chr12.vcf.gz
vcf_files/chr13.vcf.gz
vcf_files/chr14.vcf.gz
vcf_files/chr15.vcf.gz
vcf_files/chr16.vcf.gz
vcf_files/chr17.vcf.gz
vcf_files/chr18.vcf.gz
vcf_files/chr19.vcf.gz
vcf_files/chr2.vcf.gz
vcf_files/chr3.vcf.gz
vcf_files/chr4.vcf.gz
vcf_files/chr5.vcf.gz
vcf_files/chr6.vcf.gz
vcf_files/chr7.vcf.gz
vcf_files/chr8.vcf.gz
vcf_files/chr9.vcf.gz
adhd/variants.txt
ALL_1000G_phase1integrated_v3_chr22_impute.legend
artery/variants.txt
bipolar/variants.txt
bmi/variants.txt
college/variants.txt
cross/variants.txt
data/ALL_1000G_phase1integrated_v3_chr10_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr10_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr11_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr11_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr12_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr12_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr13_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr13_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr14_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr14_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr15_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr15_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr16_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr16_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr17_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr17_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr18_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr18_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr19_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr19_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr1_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr1_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr20_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr20_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr21_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr22_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr2_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr2_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr3_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr3_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr4_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr4_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr5_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr5_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr6_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr6_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr7_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr7_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr8_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr8_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chr9_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chr9_impute.legend.gz
data/ALL_1000G_phase1integrated_v3_chrX_nonPAR_impute.hap.gz
data/ALL_1000G_phase1integrated_v3_chrX_nonPAR_impute.legend.gz
data/genetic_map_chr2_combined_b37.txt
depression/variants.txt
disattenuation/standard_errors.txt
education/variants.txt
fasting/variants.txt
final_ld_variants.txt
final_variants.txt
gcta_output/chr1.score.ld
gcta_output/chr10.score.ld
gcta_output/chr11.score.ld
gcta_output/chr12.score.ld
gcta_output/chr13.score.ld
gcta_output/chr14.score.ld
gcta_output/chr15.score.ld
gcta_output/chr16.score.ld
gcta_output/chr17.score.ld
gcta_output/chr18.score.ld
gcta_output/chr19.score.ld
gcta_output/chr2.score.ld
gcta_output/chr20.score.ld
gcta_output/chr21.score.ld
gcta_output/chr22.score.ld
gcta_output/chr3.score.ld
gcta_output/chr4.score.ld
gcta_output/chr5.score.ld
gcta_output/chr6.score.ld
gcta_output/chr7.score.ld
gcta_output/chr8.score.ld
gcta_output/chr9.score.ld
gcta_output_1000/chr1.score.ld
gcta_output_1000/chr10.score.ld
gcta_output_1000/chr11.score.ld
gcta_output_1000/chr12.score.ld
gcta_output_1000/chr13.score.ld
gcta_output_1000/chr14.score.ld
gcta_output_1000/chr15.score.ld
gcta_output_1000/chr16.score.ld
gcta_output_1000/chr17.score.ld
gcta_output_1000/chr18.score.ld
gcta_output_1000/chr19.score.ld
gcta_output_1000/chr2.score.ld
gcta_output_1000/chr20.score.ld
gcta_output_1000/chr21.score.ld
gcta_output_1000/chr22.score.ld
gcta_output_1000/chr3.score.ld
gcta_output_1000/chr4.score.ld
gcta_output_1000/chr5.score.ld
gcta_output_1000/chr6.score.ld
gcta_output_1000/chr7.score.ld
gcta_output_1000/chr8.score.ld
gcta_output_1000/chr9.score.ld
gcta_output_1000_CEU/chr1.score.ld
gcta_output_1000_CEU/chr10.score.ld
gcta_output_1000_CEU/chr11.score.ld
gcta_output_1000_CEU/chr12.score.ld
gcta_output_1000_CEU/chr13.score.ld
gcta_output_1000_CEU/chr14.score.ld
gcta_output_1000_CEU/chr15.score.ld
gcta_output_1000_CEU/chr16.score.ld
gcta_output_1000_CEU/chr17.score.ld
gcta_output_1000_CEU/chr18.score.ld
gcta_output_1000_CEU/chr19.score.ld
gcta_output_1000_CEU/chr2.score.ld
gcta_output_1000_CEU/chr20.score.ld
gcta_output_1000_CEU/chr3.score.ld
gcta_output_1000_CEU/chr4.score.ld
gcta_output_1000_CEU/chr5.score.ld
gcta_output_1000_CEU/chr6.score.ld
gcta_output_1000_CEU/chr7.score.ld
gcta_output_1000_CEU/chr8.score.ld
gcta_output_1000_CEU/chr9.score.ld
gcta_output_1000_FIN/chr1.score.ld
gcta_output_1000_FIN/chr10.score.ld
gcta_output_1000_FIN/chr11.score.ld
gcta_output_1000_FIN/chr12.score.ld
gcta_output_1000_FIN/chr13.score.ld
gcta_output_1000_FIN/chr14.score.ld
gcta_output_1000_FIN/chr15.score.ld
gcta_output_1000_FIN/chr16.score.ld
gcta_output_1000_FIN/chr17.score.ld
gcta_output_1000_FIN/chr18.score.ld
gcta_output_1000_FIN/chr19.score.ld
gcta_output_1000_FIN/chr2.score.ld
gcta_output_1000_FIN/chr20.score.ld
gcta_output_1000_FIN/chr3.score.ld
gcta_output_1000_FIN/chr4.score.ld
gcta_output_1000_FIN/chr5.score.ld
gcta_output_1000_FIN/chr6.score.ld
gcta_output_1000_FIN/chr7.score.ld
gcta_output_1000_FIN/chr8.score.ld
gcta_output_1000_FIN/chr9.score.ld
gcta_output_1000_GBR/chr1.score.ld
gcta_output_1000_GBR/chr10.score.ld
gcta_output_1000_GBR/chr11.score.ld
gcta_output_1000_GBR/chr12.score.ld
gcta_output_1000_GBR/chr13.score.ld
gcta_output_1000_GBR/chr14.score.ld
gcta_output_1000_GBR/chr15.score.ld
gcta_output_1000_GBR/chr16.score.ld
gcta_output_1000_GBR/chr17.score.ld
gcta_output_1000_GBR/chr18.score.ld
gcta_output_1000_GBR/chr19.score.ld
gcta_output_1000_GBR/chr2.score.ld
gcta_output_1000_GBR/chr20.score.ld
gcta_output_1000_GBR/chr3.score.ld
gcta_output_1000_GBR/chr4.score.ld
gcta_output_1000_GBR/chr5.score.ld
gcta_output_1000_GBR/chr6.score.ld
gcta_output_1000_GBR/chr7.score.ld
gcta_output_1000_GBR/chr8.score.ld
gcta_output_1000_GBR/chr9.score.ld
gcta_output_1000_TSI/chr1.score.ld
gcta_output_1000_TSI/chr10.score.ld
gcta_output_1000_TSI/chr11.score.ld
gcta_output_1000_TSI/chr12.score.ld
gcta_output_1000_TSI/chr13.score.ld
gcta_output_1000_TSI/chr14.score.ld
gcta_output_1000_TSI/chr15.score.ld
gcta_output_1000_TSI/chr16.score.ld
gcta_output_1000_TSI/chr17.score.ld
gcta_output_1000_TSI/chr18.score.ld
gcta_output_1000_TSI/chr19.score.ld
gcta_output_1000_TSI/chr2.score.ld
gcta_output_1000_TSI/chr20.score.ld
gcta_output_1000_TSI/chr21.score.ld
gcta_output_1000_TSI/chr22.score.ld
gcta_output_1000_TSI/chr3.score.ld
gcta_output_1000_TSI/chr4.score.ld
gcta_output_1000_TSI/chr5.score.ld
gcta_output_1000_TSI/chr6.score.ld
gcta_output_1000_TSI/chr7.score.ld
gcta_output_1000_TSI/chr8.score.ld
gcta_output_1000_TSI/chr9.score.ld
height/variants.txt
Height_new/variants.txt
king_analysis/king.bed
king_analysis/king.bim
plink2
plink_files/chr10_cm.bed
plink_files/chr10_cm.bim
plink_files/chr11_cm.bed
plink_files/chr11_cm.bim
plink_files/chr12_cm.bed
plink_files/chr12_cm.bim
plink_files/chr13_cm.bed
plink_files/chr13_cm.bim
plink_files/chr14_cm.bed
plink_files/chr14_cm.bim
plink_files/chr15_cm.bed
plink_files/chr15_cm.bim
plink_files/chr16_cm.bed
plink_files/chr16_cm.bim
plink_files/chr17_cm.bed
plink_files/chr17_cm.bim
plink_files/chr18_cm.bed
plink_files/chr18_cm.bim
plink_files/chr19_cm.bed
plink_files/chr19_cm.bim
plink_files/chr1_cm.bed
plink_files/chr1_cm.bim
plink_files/chr20_cm.bed
plink_files/chr20_cm.bim
plink_files/chr21_cm.bed
plink_files/chr21_cm.bim
plink_files/chr22_cm.bed
plink_files/chr22_cm.bim
plink_files/chr2_cm.bed
plink_files/chr2_cm.bim
plink_files/chr3_cm.bed
plink_files/chr3_cm.bim
plink_files/chr4_cm.bed
plink_files/chr4_cm.bim
plink_files/chr5_cm.bed
plink_files/chr5_cm.bim
plink_files/chr6_cm.bed
plink_files/chr6_cm.bim
plink_files/chr7_cm.bed
plink_files/chr7_cm.bim
plink_files/chr8_cm.bed
plink_files/chr8_cm.bim
plink_files/chr9_cm.bed
plink_files/chr9_cm.bim
plink_files_CEU/chr10_cm.bed
plink_files_CEU/chr10_cm.bim
plink_files_CEU/chr11_cm.bed
plink_files_CEU/chr11_cm.bim
plink_files_CEU/chr12_cm.bed
plink_files_CEU/chr12_cm.bim
plink_files_CEU/chr13_cm.bed
plink_files_CEU/chr13_cm.bim
plink_files_CEU/chr14_cm.bed
plink_files_CEU/chr14_cm.bim
plink_files_CEU/chr15_cm.bed
plink_files_CEU/chr15_cm.bim
plink_files_CEU/chr16_cm.bed
plink_files_CEU/chr16_cm.bim
plink_files_CEU/chr17_cm.bed
plink_files_CEU/chr17_cm.bim
plink_files_CEU/chr18_cm.bed
plink_files_CEU/chr18_cm.bim
plink_files_CEU/chr19_cm.bed
plink_files_CEU/chr19_cm.bim
plink_files_CEU/chr1_cm.bed
plink_files_CEU/chr1_cm.bim
plink_files_CEU/chr20_cm.bed
plink_files_CEU/chr20_cm.bim
plink_files_CEU/chr21_cm.bed
plink_files_CEU/chr21_cm.bim
plink_files_CEU/chr22_cm.bed
plink_files_CEU/chr22_cm.bim
plink_files_CEU/chr2_cm.bed
plink_files_CEU/chr2_cm.bim
plink_files_CEU/chr3_cm.bed
plink_files_CEU/chr3_cm.bim
plink_files_CEU/chr4_cm.bed
plink_files_CEU/chr4_cm.bim
plink_files_CEU/chr5_cm.bed
plink_files_CEU/chr5_cm.bim
plink_files_CEU/chr6_cm.bed
plink_files_CEU/chr6_cm.bim
plink_files_CEU/chr7_cm.bed
plink_files_CEU/chr7_cm.bim
plink_files_CEU/chr8_cm.bed
plink_files_CEU/chr8_cm.bim
plink_files_CEU/chr9_cm.bed
plink_files_CEU/chr9_cm.bim
plink_files_FIN/chr10_cm.bed
plink_files_FIN/chr10_cm.bim
plink_files_FIN/chr11_cm.bed
plink_files_FIN/chr11_cm.bim
plink_files_FIN/chr12_cm.bed
plink_files_FIN/chr12_cm.bim
plink_files_FIN/chr13_cm.bed
plink_files_FIN/chr13_cm.bim
plink_files_FIN/chr14_cm.bed
plink_files_FIN/chr14_cm.bim
plink_files_FIN/chr15_cm.bed
plink_files_FIN/chr15_cm.bim
plink_files_FIN/chr16_cm.bed
plink_files_FIN/chr16_cm.bim
plink_files_FIN/chr17_cm.bed
plink_files_FIN/chr17_cm.bim
plink_files_FIN/chr18_cm.bed
plink_files_FIN/chr18_cm.bim
plink_files_FIN/chr19_cm.bed
plink_files_FIN/chr19_cm.bim
plink_files_FIN/chr1_cm.bed
plink_files_FIN/chr1_cm.bim
plink_files_FIN/chr20_cm.bed
plink_files_FIN/chr20_cm.bim
plink_files_FIN/chr21_cm.bed
plink_files_FIN/chr21_cm.bim
plink_files_FIN/chr22_cm.bed
plink_files_FIN/chr22_cm.bim
plink_files_FIN/chr2_cm.bed
plink_files_FIN/chr2_cm.bim
plink_files_FIN/chr3_cm.bed
plink_files_FIN/chr3_cm.bim
plink_files_FIN/chr4_cm.bed
plink_files_FIN/chr4_cm.bim
plink_files_FIN/chr5_cm.bed
plink_files_FIN/chr5_cm.bim
plink_files_FIN/chr6_cm.bed
plink_files_FIN/chr6_cm.bim
plink_files_FIN/chr7_cm.bed
plink_files_FIN/chr7_cm.bim
plink_files_FIN/chr8_cm.bed
plink_files_FIN/chr8_cm.bim
plink_files_FIN/chr9_cm.bed
plink_files_FIN/chr9_cm.bim
plink_files_GBR/chr10_cm.bed
plink_files_GBR/chr10_cm.bim
plink_files_GBR/chr11_cm.bed
plink_files_GBR/chr11_cm.bim
plink_files_GBR/chr12_cm.bed
plink_files_GBR/chr12_cm.bim
plink_files_GBR/chr13_cm.bed
plink_files_GBR/chr13_cm.bim
plink_files_GBR/chr14_cm.bed
plink_files_GBR/chr14_cm.bim
plink_files_GBR/chr15_cm.bed
plink_files_GBR/chr15_cm.bim
plink_files_GBR/chr16_cm.bed
plink_files_GBR/chr16_cm.bim
plink_files_GBR/chr17_cm.bed
plink_files_GBR/chr17_cm.bim
plink_files_GBR/chr18_cm.bed
plink_files_GBR/chr18_cm.bim
plink_files_GBR/chr19_cm.bed
plink_files_GBR/chr19_cm.bim
plink_files_GBR/chr1_cm.bed
plink_files_GBR/chr1_cm.bim
plink_files_GBR/chr20_cm.bed
plink_files_GBR/chr20_cm.bim
plink_files_GBR/chr21_cm.bed
plink_files_GBR/chr21_cm.bim
plink_files_GBR/chr22_cm.bed
plink_files_GBR/chr22_cm.bim
plink_files_GBR/chr2_cm.bed
plink_files_GBR/chr2_cm.bim
plink_files_GBR/chr3_cm.bed
plink_files_GBR/chr3_cm.bim
plink_files_GBR/chr4_cm.bed
plink_files_GBR/chr4_cm.bim
plink_files_GBR/chr5_cm.bed
plink_files_GBR/chr5_cm.bim
plink_files_GBR/chr6_cm.bed
plink_files_GBR/chr6_cm.bim
plink_files_GBR/chr7_cm.bed
plink_files_GBR/chr7_cm.bim
plink_files_GBR/chr8_cm.bed
plink_files_GBR/chr8_cm.bim
plink_files_GBR/chr9_cm.bed
plink_files_GBR/chr9_cm.bim
plink_files_TSI/chr10_cm.bed
plink_files_TSI/chr10_cm.bim
plink_files_TSI/chr11_cm.bed
plink_files_TSI/chr11_cm.bim
plink_files_TSI/chr12_cm.bed
plink_files_TSI/chr12_cm.bim
plink_files_TSI/chr13_cm.bed
plink_files_TSI/chr13_cm.bim
plink_files_TSI/chr14_cm.bed
plink_files_TSI/chr14_cm.bim
plink_files_TSI/chr15_cm.bed
plink_files_TSI/chr15_cm.bim
plink_files_TSI/chr16_cm.bed
plink_files_TSI/chr16_cm.bim
plink_files_TSI/chr17_cm.bed
plink_files_TSI/chr17_cm.bim
plink_files_TSI/chr18_cm.bed
plink_files_TSI/chr18_cm.bim
plink_files_TSI/chr19_cm.bed
plink_files_TSI/chr19_cm.bim
plink_files_TSI/chr1_cm.bed
plink_files_TSI/chr1_cm.bim
plink_files_TSI/chr20_cm.bed
plink_files_TSI/chr20_cm.bim
plink_files_TSI/chr21_cm.bed
plink_files_TSI/chr21_cm.bim
plink_files_TSI/chr22_cm.bed
plink_files_TSI/chr22_cm.bim
plink_files_TSI/chr2_cm.bed
plink_files_TSI/chr2_cm.bim
plink_files_TSI/chr3_cm.bed
plink_files_TSI/chr3_cm.bim
plink_files_TSI/chr4_cm.bed
plink_files_TSI/chr4_cm.bim
plink_files_TSI/chr5_cm.bed
plink_files_TSI/chr5_cm.bim
plink_files_TSI/chr6_cm.bed
plink_files_TSI/chr6_cm.bim
plink_files_TSI/chr7_cm.bed
plink_files_TSI/chr7_cm.bim
plink_files_TSI/chr8_cm.bed
plink_files_TSI/chr8_cm.bim
plink_files_TSI/chr9_cm.bed
plink_files_TSI/chr9_cm.bim
scz/variants.txt
vcf_files/chr1.vcf.gz
vcf_files/chr10.vcf.gz
vcf_files/chr11.vcf.gz
vcf_files/chr12.vcf.gz
vcf_files/chr13.vcf.gz
vcf_files/chr14.vcf.gz
vcf_files/chr15.vcf.gz
vcf_files/chr16.vcf.gz
vcf_files/chr17.vcf.gz
vcf_files/chr18.vcf.gz
vcf_files/chr19.vcf.gz
vcf_files/chr2.vcf.gz
vcf_files/chr20.vcf.gz
vcf_files/chr21.vcf.gz
vcf_files/chr22.vcf.gz
vcf_files/chr3.vcf.gz
vcf_files/chr4.vcf.gz
vcf_files/chr5.vcf.gz
vcf_files/chr6.vcf.gz
vcf_files/chr7.vcf.gz
vcf_files/chr8.vcf.gz
vcf_files/chr9.vcf.gz
waist/variants.txt